<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Multipayer</title>
</head>
<body>
    <script type="text/javascript">
        var player = {{ data.player }}
        var x = {{ data.x }}
        var y = {{ data.y }}
        var coli = {{ data.coli }}
    </script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/screen.js')}}"></script>
    <div id="screen"></div>
</body>
</html>